.about-container .about-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container .about-title {
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--gold-color);
    font-size: 2rem;
}

.about-container .members-container {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.about-container p:first-of-type {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .about-container .about-title {
        font-size: 1.6rem;
    }

    .about-container p:first-of-type {
        margin-top: 0;
    }
}

@media (max-width: 580px) {
    .about-container .members-container {
        margin: 0.5rem 0;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-container .member-container {
        justify-content: center;
    }
}
