.fancy-container {
    position: relative;
    border: var(--fancy-border);
    border-style: ridge;
    margin: 2rem auto 0;
    padding: 3.5rem;
    background-color: rgba(255, 240, 230, 0.6);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.fancy-container.incognito {
    padding: 1rem 3.5rem;
}

.fancy-container .content {
    position: relative;
    z-index: 2;
}
