#bambi-logo {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 1rem;
    left: 1rem;
}

#bambi-logo .logo {
    height: 200px;
    aspect-ratio: 1;
    z-index: 2;
    position: relative;
}

#bambi-logo .button,
#bambi-logo .border {
    position: absolute;
    top: 44px;
    left: 12px;
    border-radius: 50%;
    background-color: transparent;
    height: 136px;
    width: 153px;
}

#bambi-logo .button {
    z-index: 101;
    cursor: var(--fancy-cursor-pointer);
}

#bambi-logo .border {
    z-index: 1;
    border: var(--fancy-border);
}

#bambi-logo .halo {
    opacity: 0;
    height: 260px;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: -40px;
    transition: opacity 1s ease-in;
    animation: spinner 20s linear infinite;
    user-select: none;
}

#bambi-logo .halo:last-of-type {
    animation-direction: reverse;
}

#bambi-logo.hovered .halo,
#bambi-logo.active .halo {
    opacity: 60%;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    #bambi-logo {
        height: 100px;
        width: 100px;
        top: 0.5rem;
        left: 0.5em;
    }

    #bambi-logo .logo {
        height: 100px;
    }

    #bambi-logo .button,
    #bambi-logo .border {
        top: 19px;
        left: 4px;
        height: 73px;
        width: 81px;
    }

    #bambi-logo .halo {
        height: 130px;
        top: -6px;
        left: -22px;
    }

    #bambi-logo.hovered .halo {
        opacity: 0;
    }

    #bambi-logo.active .halo {
        opacity: 60%;
    }
}
