header {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 10;
    height: 80px;
    width: 100vw;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    border-bottom: var(--fancy-border);
}
