.yellow-cards-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0.5rem;
    bottom: 0;
}

.yellow-cards-container .yellow-card {
    aspect-ratio: 8 / 11;
    border-radius: 4px;
    height: 2rem;
    background-color: #f0d857;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
