.member-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1.5rem;
}

.member-container p {
    margin: 0;
}

.member-container .member-image-container {
    position: relative;
}

.member-container .member-image {
    height: 120px;
    width: 120px;
    border: var(--fancy-border);
    border-style: ridge;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .member-container .member-image {
        height: 80px;
        width: 80px;
    }

    .member-container h4 {
        margin-top: 0;
    }
}

@media (max-width: 580px) {
    .member-container {
        gap: 3rem;
    }
}
