.page-indicator {
    margin-left: auto;
    margin-right: 3rem;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.page-indicator h2 {
    font-size: 2rem;
    text-shadow: 1px 1px 0 #000;
    text-align: center;
}

.page-indicator svg {
    width: 32px;
    height: 32px;
}
