@font-face {
    font-family: Fenwick;
    src: url("/Fenwick.ttf") format("truetype");
}

:root {
    --primary-color: #2e4e3f; /* Rich fancy green */
    --accent-color: #d9c9a9; /* Warm parchment */
    --gold-color: #E9CA4F; /* Gold */
    --secondary-color: #a67c52; /* Gold trim */
    --background-color: #fdfaf6; /* Light parchment */
    --text-color: #2e2e2e; /* Rich black */

    --fancy-border: 5px solid var(--secondary-color);
    --fancy-cursor-normal: url(/cursor-normal.png), auto;
    --fancy-cursor-pointer: url(/cursor-pointer.png), auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quintessential", serif;
    background: url("/paper-bg.jpg") repeat;
    color: var(--text-color);
    line-height: 1.6;
    scrollbar-gutter: stable both-edges;
}

html,
body {
    cursor: var(--fancy-cursor-normal);
}

main {
    min-height: calc(100vh - 431px);
}

main p {
    margin-bottom: 0.5rem;
}

main h2,
main h3,
main h4 {
    margin-top: 0.5rem;
    color: var(--primary-color);
}

main h3 {
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--gold-color);
    display: inline-block;
    font-size: 1.5rem;
}

main ul {
    margin-left: 2rem;
}

.no-margin {
    margin: 0 !important;
}
