#bambi-nav {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 1rem;
    left: 1rem;
}

#bambi-nav .logo {
    height: 200px;
    aspect-ratio: 1;
    z-index: 2;
    position: relative;
}

#bambi-nav .button {
    position: absolute;
    top: 35px;
    left: 40px;
    z-index: 101;
    border-radius: 50%;
    background-color: transparent;
    height: 145px;
    width: 145px;
    cursor: var(--fancy-cursor-pointer);
}

#bambi-nav .halo {
    opacity: 0;
    height: 260px;
    position: absolute;
    z-index: 1;
    top: -20px;
    left: -20px;
    transition: opacity 1200ms ease-in;
    animation: spinner 20s linear infinite;
    user-select: none;
}

#bambi-nav .halo:last-of-type {
    animation-direction: reverse;
}

#bambi-nav.active .halo {
    opacity: 60%;
}

#bambi-nav .nav-trigger {
    position: absolute;
    top: 50%;
    left: 50%;
}

#bambi-nav .nav-trigger {
    z-index: 2;
}

#bambi-nav.active .nav-trigger {
    z-index: 102;
}

#bambi-nav.active .nav-trigger button {
    cursor: var(--fancy-cursor-pointer);
    background-color: rgb(255, 240, 230);
    border: var(--fancy-border);
    border-style: ridge;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    color: var(--text-color);
}

#bambi-nav.active .nav-trigger button:hover {
    color: var(--accent-color);
    background-color: var(--primary-color);
}

#bambi-nav .nav-trigger button svg {
    width: 32px;
    height: 32px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
